/* Estilos generales para el modal */
.divmodalagregar {
margin-bottom: 10px;
}

.p-dialog .p-dialog-content {
    display: flex;
    flex-direction: column;
}

.p-dialog .p-field {
    margin-bottom: 10px;
}

/* Estilos específicos para móviles */
@media only screen and (max-width: 600px) {
    .p-dialog {
        width: 90% !important;
        margin: 0 auto;
    }

    .p-button {
        width: 100%;
    }

    .p-field label {
        font-size: 0.9em;
    }

    .p-field input,
    .p-field .p-dropdown,
    .p-field .p-inputnumber {
        font-size: 0.9em;
    }
}
