/* Reset de estilos básico */
* {
  font-size: 1em;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(91, 6, 114);
  }
  
  /* Estilo para el contenedor principal */
  #root {
    display: flex;
    justify-content: center;
    align-items:baseline;
    height: 100vh;    
  }
  
  /* Ajustes adicionales según necesidades */
  .p-button {
    height: 42px;
    margin: 5px 0;
  }